.portfolio-page {
    background: transparent;
    min-height: 100vh;
    margin: 0;
    width: 100%;
}


@media (min-width: $tablet-vertical) {
    .portfolio-page {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    }

    .projects__title {
        font-size: 3.3rem;
    }
}