//Colors
$background:  lighten(#000, 15%);
$primary: #F1B756;
$emphasis-green: rgb(90, 180, 137);
$emphasis-purple: rgb(156, 124, 200); 
$emphasis-blue: #51A5DA;

//Link Colors
$github-purple: #6e5494;
$linkedIn-blue: #0077B5;
$twitter-blue: #1DA1F2;
$google-red: #db3236;


//Breakpoints 
$tablet-vertical: 47.375rem;
$tablet-landscape: 62.125rem;
$desktop-breakpoint: 93.4375rem;
